<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">


</head>

<body>
    <div id="messages"></div>
    <div class="input-group mb-3"  id="send">
        <input type="text" id="message-to-send" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
            <button class="input-group-text" id="send-button">Send</button>
        </div>
    </div>


    <script src="/js/mustache.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>