.full-height {
    height: 100%;
  }


  .nav-button{

    border: none;
    background: none;

  }

  
#send{

    position: fixed;
    bottom: 0;
    right: 0;



  
}

#send-button{
  background-color: darkorange;
}

#messages{
  min-height: 100%;
  background-color:#81c3d4;
  padding: 0.3em;
  padding-bottom: 100px;
}
  

html, body {
  height: 100%;
  margin: 0;
}

.username{

  font-size: 1.1em;
  font-weight: bold ;
  color: crimson;

}

.usermessage{
  min-height: 20px;
}
.messagebody{
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: fit-content;
  min-width: 200px;

}